.container {
	margin: 10px auto;
	overflow: auto;
	text-align: center;
	width: 600px;
  background-color: black
}

.h1 {
  color: white;
  text-align: center;
}

.p {
  color: white;
  text-align: center;
}
